@model DKAC.Models.RequestModel.HomeRequestModel
@{
    ViewBag.Title = "Tất cả món ăn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<head>
    <title>Tất cả món ăn</title>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px !important;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tất cả các món ăn</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper" style=" background-color: #88a6cb; color: white; ">

            @foreach (var item in Model.lstDish)
            {
                { count++; }
                <div class="row" style="padding: 15px; margin-bottom: 20px;">
                    <div class="col-md-12" style="margin: 20px 0px">
                        <span style="font-size: 20px;">@(count + ". ") @item.DishName</span>
                    </div>
                    <div class="col-md-4 image">
                        <img src="~/Content/image/Dish/@item.Image" style="width: 100%; height: 100%;" />
                    </div>
                    <div class="col-md-8">
                        <div class="dish_descript">
                            <p>@item.Description</p>
                        </div>
                        <div class="dish_box">
                            <div class="row">
                                <div class="col-md-3"><p>Giá: </p></div>
                                <div class="col-md-9"><p>@String.Format("{0:N0} VNĐ", item.Cost)</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><p>Tên: </p></div>
                                <div class="col-md-9"><p>@item.DishName</p></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><p>Đánh giá: </p></div>
                                <div class="col-md-9">
                                    <div class="sm-rating">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (item.JugmentPoint > i)
                                            {
                                                <img src="~/Content/image/star/yellowstar.png" style="width: 15px; height: 15px " />
                                            }
                                            else if (item.JugmentPoint == i)
                                            {
                                                <img src="~/Content/image/star/yellowstar.png" style="width: 15px; height: 15px " />
                                            }
                                            else
                                            {
                                                if (item.JugmentPoint > (i - 1))
                                                {
                                                    <img src="~/Content/image/star/halfstar.png" style="width: 15px; height: 15px" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/image/star/whitestar.png" style="width: 15px; height: 15px " />
                                                }
                                            }
                                        }
                                        <input type="hidden" name="sm_rating_post_id" value="66449">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><p>Điểm: </p></div>
                                <div class="col-md-9">
                                    @if (item.JugStatus == 1)
                                    {
                                        <p>@item.JugmentPoint ☆ (@item.JugmentQty Đánh giá) - Bạn đã đánh giá trong tuần này &#10003;</p>
                                    }
                                    else
                                    {
                                        <p>@item.JugmentPoint ☆ (@item.JugmentQty Đánh giá)</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="dish_box">
                            <a href="/Register/RegisterByPersonal?dishId=@item.id" class="btn btn-success">Đăng ký</a>
                            @if (item.JugStatus != 1)
                            {
                                <a href="/Jugment?dishId=@item.id" class="btn btn-danger">Đánh giá</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>