@model DKAC.Models.InfoModel.RegisterByMenuInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Đăng ký theo thực đơn</title>
    <style>
        table {
            border: 2px solid #e8e4e4;
        }

        .modal-header {
            background-color: #0076d2;
            color: white;
        }

        .modal-content {
            border: #d0d0d0 solid 2px !important;
            background-color: #fff6ee;
        }

        .ui-autocomplete {
            z-index: 1000;
        }

        .modal-backdrop {
            position: unset;
        }

        .pd-8 {
            padding: 8px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Chọn thông tin</h2>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label>Thực đơn: </label>
                        @Html.DropDownListFor(a => a.MenuId, Model.lstMenu, "---Chọn thực đơn---", new { @class = "form-control", @id = "MenuId" })
                    </div>
                    <div class="col-md-4">
                        <label>Ngày bắt đầu áp dụng: </label>
                        <input class="form-control" name="RegisterDate" type="date" id="regDate" placeholder="yyyy/MM/dd" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <label>Tên của bạn: </label>
                        <input class="form-control" value="@Model.UserName" disabled />
                    </div>
                    <div class="col-md-4">
                        <label>Phòng ban của bạn: </label>
                        <input class="form-control" value="@Model.RoomName" disabled />
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <table class="table table-bordered table-striped table-hover" id="menuTop" style="text-align:center;"></table>
                    <table class="table table-bordered table-striped table-hover" id="menuDetails" style="text-align:center;"></table>
                </div>
            </div>

            <div class="form-group">
                <div class="text-right" style="margin-top: 20px;">
                    <button onclick="RegisterByGroup()" class="btn btn-primary" id="btnDangKy">Đăng ký</button>
                    <a type="button" class="btn btn-success" href="/">Hủy</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal content-->
    <div class="modal" id="Modal-CheckDupplicateRegister" style="height:auto;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Danh sách trùng lịch đăng ký</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height:initial !important;overflow-y:scroll;">
                    <div class="row">
                        <div class="col-md-12" style="padding-right:0px;padding-left:0px;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Tên món</th>
                                        <th>Ca</th>
                                        <th>Số lượng</th>
                                        <th>Thay thế</th>
                                        <th>Đăng ký thêm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyCheckDupplicate"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="padding:5px 10px 5px 5px;">
                    <button type="button" class="btn btn-secondary" style="background-color:red;margin:0;" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">

    var model = @Html.Raw(Json.Encode(Model));

    $("#MenuId").change(function () {
        var menuId = $(this).val() * 1;
        if (menuId > 0) {
            $.ajax({
                url: "/Register/GetMenuById/" + menuId,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (rs) {
                    var str = "";
                    $('#menuTop').empty();
                    var munuTop = `<tr>
                                        <td>Tên: <b>${rs.MenuName}</b></td>
                                        <td>Áp dụng cho ca: <b>${rs.Ca}</b></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày tạo: <b>${rs.DateString}</b></td>
                                        <td>Ghi chú: <b>${rs.Description}</b></td>
                                    </tr>`;
                    $('#menuTop').html(munuTop);
                    $('#menuDetails').empty();
                    var detailInfos = rs.detailInfos;
                    str += `<tbody>
                                ${GenHtml(detailInfos)}
                            </tbody>`;
                    $('#menuDetails').html(str);
                    console.log(rs);
                },
                error: function (ErrorMessage) {
                    alert(ErrorMessage.response);
                }
            });
        } else {
            $('#menuTop').empty();
            $('#menuDetails').empty();
        }
    });

    function GenHtml(elemnt) {
        var html = "<tr>";
        for (var i = 0; i < elemnt.length; i++) {
            html += `<td style='width:100px;'>Ngày thứ ${elemnt[i].IndexDate}</td>`;
        }
        html += `</tr><tr>`;
        for (var i = 0; i < elemnt.length; i++) {
            html += `<td>${elemnt[i].DishName}</td>`;
        }
        html += `</tr><tr>`;
        for (var i = 0; i < elemnt.length; i++) {
            html += `<td><img width='100' height='100' src='/Content/image/Dish/${elemnt[i].ImageDishUrl}' /></td>`;
        }
        html += `</tr>`;
        return html;
    }

    //function
    function RegisterByGroup() {
        var check = {
            MenuId: $('#MenuId').val() * 1,
            DateApply: $('#regDate').val(),
        };
        if (check.MenuId <= 0) {
            toastr.warning('Bạn chưa chọn thực đơn!');
            return;
        }
        if (check.DateApply == null || check.DateApply == undefined || check.DateApply.length <= 0) {
            toastr.warning('Bạn chưa chọn ngày bắt đầu áp dụng!');
            return;
        }
        var title = "Bạn có chắc chắn muốn đăng ký?";
        var url = '/Register/RegisterByMenu/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm == 'ok') {
                //check trùng lịch đăng ký
                $.ajax({
                    url: "/Register/CheckDupplicateRegister/",
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    data: JSON.stringify(check),
                    success: function (result) {
                        if (result.length == 0) {
                            //nếu thỏa mãn thì đăng ký luôn
                            $.post(url, data,
                                function (rs) {
                                    if (rs.status > 0) {
                                        swal({
                                            title: rs.message + "!",
                                            text: "Dữ liệu của bạn đã được cập nhật!",
                                            icon: "success",
                                        }).then(function (isConfirm) {
                                            window.location.href = '/Register/RegisterByGroup';
                                        });
                                    }
                                    else {
                                        swal({
                                            title: rs.message + "!",
                                            text: "Có lỗi xảy ra!",
                                            icon: "error",
                                        })
                                    }
                                });
                        } else {
                            //list danh sách đang bị trùng
                            var html = ``;
                            var count = 0;
                            for (var i = 0; i < result.length; i++) {
                                var date = new Date(parseInt(result[i].RegDate.substr(6)));
                                var formatted = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
                                count++;
                                html += `<tr>
                                            <td>${count}</td>
                                            <td>${result[i].UserName}</td>
                                            <td>${formatted}</td>
                                            <td>${result[i].DishName}</td>
                                            <td>${result[i].Ca}</td>
                                            <td>${result[i].Quantity}</td>
                                            <td>
                                               <input class='form-control' id='replace_${count}' type='radio' name='check_${count}' style='width:20px;margin-left:15px;' />
                                            </td>
                                            <td>
                                               <input class='form-control' id='plus_${count}' type='radio' name='check_${count}' style='width:20px;margin-left:15px;' />
                                            </td>
                                         </tr>`;
                            }

                            $('#tbodyCheckDupplicate').html(html);
                            $('#Modal-CheckDupplicateRegister').modal('show');
                        }
                    },
                    error: function (ErrorMessage) {
                        alert(ErrorMessage.response);
                    }
                });
            }
        });
    };

</script>
