<table class="table table-striped table-hover" id="lstReg">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Nhân viên</th>
            <th class="text-center">Tên suất ăn</th>
            <th class="text-center">Ca</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody id="tbodyLstReg">
        @{
            var count = 0;
            var day = DateTime.Now.Day;
            var hour = DateTime.Now.Hour;
        }
        @foreach (var item in ViewBag.lstReg)
        {
            count++;
            <tr>
                <td class="text-center">@count</td>
                <td class="text-center">@item.EmployeeName</td>
                <td class="text-center">@item.Dish.DishName</td>
                <td class="text-center">@item.Ca</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-center">
                    @if (item.RegisterDate.Day == day)
                    {
                        if (hour < 9)
                        {
                            <a onclick="Delete(@item.id)" class="delete btn btn-sm btn-danger" style="cursor: pointer"><i class="fa fa-trash" style="color: white" title="Hủy đăng ký"></i></a>
                        }
                        else if (hour >= 9 && hour <= 15)
                        {
                            if (item.Ca > 1)
                            {
                                <a onclick="Delete(@item.id)" class="delete btn btn-sm btn-danger" style="cursor: pointer"><i class="fa fa-trash" style="color: white" title="Hủy đăng ký"></i></a>
                            }
                        }
                        else if (hour >= 15 && hour < 22)
                        {
                            if (item.Ca > 2)
                            {
                                <a onclick="Delete(@item.id)" class="delete btn btn-sm btn-danger" style="cursor: pointer"><i class="fa fa-trash" style="color: white" title="Hủy đăng ký"></i></a>
                            }
                        }
                        else { }
                    }
                    else
                    {
                        <a onclick="Delete(@item.id)" class="delete btn btn-sm btn-danger" style="cursor: pointer"><i class="fa fa-trash" style="color: white" title="Hủy đăng ký"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
