@using DKAC.Repository
@using DKAC.Common
@using DKAC.Models.EntityModel
@model List<DKAC.Models.InfoModel.RegisterByPersonalInfo>

@{
    EmployeeRepository _emRepo = new EmployeeRepository();
    var em = (User)Session[CommonConstants.USER_SESSION];
}

<table class="table table-striped table-hover" id="reportByGroup">
    <thead>
        <tr>
            <th class="text-center" width="50">STT</th>
            <th class="text-center">Nhân viên</th>
            <th class="text-center" width="200">Số lượng đăng ký</th>
            <th class="text-center" style="width: 300px;">Tổng tiền</th>
        </tr>
    </thead>
    <tbody id="tbodyreportByGroup">
        @{
            var count = 0;
            int? totalQty = 0;
            int? totalMoney = 0;
            var lstEm = _emRepo.GetEmployees(em.RoomID);
        }
        @foreach (var item in Model)
        {
            totalQty += item.Quantity;
            totalMoney += item.Dish.Cost * item.Quantity;
        }
        @foreach (var e in lstEm)
        {
            count++;
            int? sl = 0;
            int? m = 0;
            foreach (var reg in Model)
            {
                if (reg.UserId == e.id)
                {
                    sl += reg.Quantity;
                    m += reg.Quantity * reg.Dish.Cost;
                }
            }
            <tr>
                <td class="text-center">@count</td>
                <td class="text-center">@e.FullName</td>
                <td class="text-center">@sl</td>
                <td class="text-center">@String.Format("{0:N0} VNĐ", m)</td>
            </tr>
        }
        <tr>
            <th colspan="2" class="text-center">Tổng</th>
            <th class="text-center">@totalQty</th>
            <th class="text-center">@String.Format("{0:N0} VNĐ", totalMoney)</th>
        </tr>
    </tbody>
</table>


